$icon-color--attack: #142D9D;
$icon-color--remedy: #417405;
$icon-color--special: #D0021A;
$icon-color--escape: #8B572A;

$monster-color--hp-bar: #D1225F;
$monster-color--rage-bar: #A1225F;

$player-color--hp-bar: #22D15F;
$player-color--rage-bar: #FFDB49;

.ff2p {
    font-family: 'Press Start 2P', cursive;
}